body {
  text-align: center;
}

#new-quote:hover {
  background-color: rgb(0, 128, 0);
  transition: none; 
}

h1 {
  font-size: 80px;
  font-family: Impact;
  font-weight: 700;
}

.press {
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

#new-quote {
  width: 250px;
  height: 80px;
  font-size: 13.3333px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400; 
  background-color: rgb(0, 0, 255);
} 

#quote, #author {
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
}


  